body {
    margin: 0;
    background: #313146;
    color: white;
}

/*This was cleared out since the nav-bar related stuff was moved to navbar.css, sorry*/

.mini_heading{
    font-weight: bold;
    font-size: 20px;
    color: yellow;
}

.hrs li{
  color:white;
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  text-transform: none;
  
}

main {
  font-family: 'Roboto Slab', serif;
}

.about{
  width: 50%;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 15px
}
figure img{
  height: 100%;
  width: 100%;
}

article figcaption{
  text-align: center;
}

