body {
    margin: 0;
    background: #313146;
    color: white;
}

/*This was cleared out since the nav-bar related stuff was moved to navbar.css, sorry*/

.mini_heading {
    font-weight: bold;
    font-size: 20px;
    color: yellow;
}

.hrs li {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    text-transform: none;

}

main {
    font-family: 'Roboto Slab', serif;
}

.about {
    width: 50%;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    justify-items: center;
}

.about h2 {
    color: yellow
}

h1 {
    font-size: 40px;
    color: #f7766d;
    text-align: center;
    vertical-align: middle;
}

figure img {
    height: 100%;
    width: 100%;
}

figure {
    border: 5px solid bisque;
}

article figcaption {
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 700px) {
    .container1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Removes the crusty edges from the images*/
.rounded {
    clip-path: circle(32%);
    z-index: -500;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 200px;
  width: 600px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 620px;
}