/*This contains the formatting for the navbar that is displayed on all pages*/

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #313146;
}

li, a {
    font-weight: bold;
    font-size: 16px;
    color: #2E2E44;
    text-decoration: none;
    font-family: 'Delius Unicase', cursive;
    text-transform: uppercase;
}

header.nav_header {
    background-color: #FFF1E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20%;
}

.logo {
    cursor: pointer;
    width: 35%;
    margin-left: -20%;
}

nav ul {
    list-style: none;
    width: 100%;
    padding-left: 40%;
}

nav ul li {
    display: inline-block;
    width: 100px;
    padding: 0px 4em;
}

nav ul li a {
    transition: all 0.3s ease 0s;
    position: relative;
}

nav a:hover {
    color: #CE5757;
}

nav a::after {
    content: '';
    display: block;
    height: 5px;
    background-color: #CE5757;

    position: absolute;
    width: 0%;

    transition: all ease-in-out 100ms;
}

nav a:hover::after {
    width: 100%;
}