body {
    margin: 0;
    background: #313146;
    color: white;
}

main {
    font-family: 'Roboto Slab', serif;
}

#container2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  justify-items: center;
  font-size: 18px
}

fieldset{
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  justify-items: center;
}

section{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2{
  color: yellow;
}

#container1{
  padding-bottom: 25px;
  font-size: 18px
}

#buttons{
  padding-bottom: 90px;
}

img{
  width: 20%;
  height: auto;
}

#quantity{
  font-size: 18px
}

#container2 img {
  width: 25%;
  height: auto;
}

/*.subcont{
  display: grid;
  grid-template-columns: 1fr 1fr;

}*/