body {
    margin: 0;
    background: #313146;
    color: white;
}

main {
    font-family: 'Roboto Slab', serif;
}

#container2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  justify-items: center;
  font-size: 18px
}

/*fieldset{
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  justify-items: center;
}*/

section{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2{
  padding-top: 20px;
  color: yellow;
}

#container1{
  padding-bottom: 25px;
  font-size: 18px
}

#buttons{
  padding-bottom: 90px;
}

#quantity{
  font-size: 18px
}

#container2 img {
  width: 100px;
  height: auto;
}

#container1 img {
  width:25%;
  height: auto;
}

hr{ 
width: 70%;
margin-left: auto;
margin-right: auto;
height: 8px;
background-color: white;
opacity: 70%;
}

.border-red{
  border: 10px solid red;
}
