* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-image: url(../images/testbanner.png);
    height: 90px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

